ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
  cursor: not-allowed;
  opacity: 1;
  transition: 0.1s;
  border: 1px solid #eee;
}


.working {
  background-color: rgba(62,142,65,1);
}

.ooo {
  background-color: rgba(244,81,30,1);
}

.fade {
  background-color: rgba(167,167,167,.7);
}
.fade:hover {
  background: rgba(167,167,167,1);
  cursor: pointer;
}

